code span.al { color: #ff5; } /* Alert */
code span.an { color: #ccc; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #ec4f9b; } /* BaseN */
code span.bu { color: #e4642f; } /* BuiltIn */
code span.cf { color: #3a9fe6; font-weight: bold; } /* ControlFlow */
code span.ch { color: #c99c14; } /* Char */
code span.cn { } /* Constant */
code span.co { color: #eee; font-style: italic; } /* Comment */
code span.do { color: #eee; font-style: italic; } /* Documentation */
code span.dt { color: #99ad14; } /* DataType */
code span.dv { color: #ec4f9b; } /* DecVal */
code span.er { color: #f55; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #ec4f9b; } /* Float */
code span.fu { color: #e4642f; } /* Function */
code span.im { color: #6ff; } /* Import */
code span.in { color: #eee; font-style: italic; } /* Information */
code span.kw { color: #3a9fe6; font-weight: bold; } /* Keyword */
code span.op { color: #aff; } /* Operator */
code span.pp { font-weight: bold; } /* Preprocessor */
code span.sc { color: #c99c14; } /* SpecialChar */
code span.ss { color: #c99c14; } /* SpecialString */
code span.st { color: #c99c14; } /* String */
code span.va { } /* Variable */
code span.vs { color: #c99c14; } /* VerbatimString */
code span.wa { color: #ff5; font-weight: bold; } /* Warning */
